<form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
  <div class="main">
    <div class="input-fields">
      <!-- <label>Email</label> -->
      <input ngModel placeholder="Email" name="email" id="email" type="email" class="input-field" />
    </div>
    <div class="input-fields">
      <!-- <label>Password</label> -->
      <input ngModel placeholder="Passwod" name="password" id="password" type="password" class="input-field" />
    </div>
    <button class="button"> Sign in </button>
    <button class="button"> Sign up </button>
  </div>
</form>

<form #loginForm2="ngForm" (ngSubmit)="addData(loginForm2.value)">
  <div class="main">
    <div class="input-fields">
      <!-- <label>Email</label> -->
      <input ngModel placeholder="Email" name="email" id="email" type="email" class="input-field" />
    </div>
    <div class="input-fields">
      <!-- <label>Password</label> -->
      <input ngModel placeholder="Passwod" name="password" id="password" type="password" class="input-field" />
    </div>
    <button class="button"> Add data </button>
  </div>
</form>

<ul>
  <li *ngFor="let item of data">email: {{item.email}} password: {{item.password}} 
    <button (click)="updateData(item.id)">Update</button>
  </li>
</ul>